
#h6top{
margin-left: 22%;margin-top: 3%;font-style:oblique;
}
#btn1{
margin-left:80%;}
#title1{
width: 80%;
}
#avatar1
{
vertical-align: middle;
 width: 50px;
 height: 50px;
 border-radius: 50%;}
#div1{
margin-left: 5%;
}
#div2
{
width: 244%;
}
#span1{
style=font-weight: 700;
font-size: 13px;
}
#span2{
font-weight: 700;
font-size: 13px;}
#div3{
width: 244;
}
#span3{
font-size: 13px;
}
#div4{
margin-left: 35%
}
#div5{
margin-top: 2%
}
#div6{
width: 95%;
margin-top: 2%;
margin-left: 5%;}
#input1{
width: 101%; border: none;
font-size: 13px}
#div7{
background-color: rgba(0,0,0,0.07);}
#label1{
margin-bottom: 1%;}
#avatar2{
vertical-align: middle; width: 50px;height: 50px;border-radius: 50%;}
#div8{
margin-left: 5%;
}
#div9{
width: 244%
}
#span4{
font-weight: 700;font-size: 13px;}
#span5{
font-weight: 700;font-size: 13px;}
#div10{
width: 244%}
#span6{
width: 244%}
#div11{
margin-top: 2%;}
#div12{
width: 95%;margin-top: 2%;margin-left: 5%;}
#div13{
background-color: rgba(0,0,0,0.05);}
#input2{
width: 101%;border: none;font-size: 13px}
#label2{
margin-bottom: 1%;}
#div14{
margin-left: -1%;}
#div15{
margin-left: 35%;
}
#div16{
width: 80%;}
#div17{
margin-left: -1%;}



