#white
{
background-color:white}
#f28b82{
background-color:#f28b82;
}
#fbbc04{
background-color:#fbbc04;
}
#fff475
{
background-color:#fff475;
}
#ccff90
{
background-color:#ccff90;
}
#a7ffeb
{
background-color:#a7ffeb;
}
#cbf0f8
{
background-color:#cbf0f8;
}
#aeaefb
{
background-color:#aeaefb;
}
#d7aefb
{
background-color:#d7aefb;
}
#fdcfe8
{
background-color:#fdcfe8;
}
#e6c9a8
{
background-color:#e6c9a8;
}
#e8eaed
{
background-color:#e8eaed;
}
#white
{
background-color:white}
#wf28b82{
background-color:#f28b82;
}
#wfbbc04{
background-color:#fbbc04;
}
#wfff475
{
background-color:#fff475;
}
#wccff90
{
background-color:#ccff90;
}
#wa7ffeb
{
background-color:#a7ffeb;
}
#wcbf0f8
{
background-color:#cbf0f8;
}
#waeaefb
{
background-color:#aeaefb;
}
#wd7aefb
{
background-color:#d7aefb;
}
#wfdcfe8
{
background-color:#fdcfe8;
}
#we6c9a8
{
background-color:#e6c9a8;
}
#we8eaed
{
background-color:#e8eaed;
}