
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#loginmodal">update123
        </button>


</div>
              <div class="modal fade" role="dialog" id="loginmodal">
                  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
        <h3>
            form
        </h3>
        <div class="modal-body">
            <div class ='form-group'>
                <input type="text" name="title" class="form-control" placeholder="title">

            </div>
        </div>
   </div>
  </div>
                  </div>
                  </div>